* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid black;
    width: 600px;
    height: 800px;
    background-color: rgb(245, 245, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

p, h2 {
    font-family: 'Cedarville Cursive', sans-serif;
    color: rgb(6, 21, 43);
    text-shadow: blueviolet 1px 0 10px;;
}


.card-title {
    font-size:x-large;
}

.card-text {
    font-size: large;
}

h2:hover {
    scale: 1.2;
    text-decoration: underline 1px solid black;
    transition: all 1s ease-in-out;
  }


p {
    animation-name: spin;
    animation-duration: 2s;
}
@keyframes spin {
    0%{

    }

    50%{
        scale: 2;
    }

    100%{
        transform: rotate(360deg);
    }
}

p:hover {
    scale: 1.2;
    text-decoration: underline 1px solid black;
    transition: all 1s ease-in-out;
  }

img {
    transform: scale(1) rotate(0deg);
    transition: transform 0.6s ease-in-out;
}

img:hover {
    transform: scale(1.1) rotate(3deg);
}